<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<%= allScripts.pageCssVendor %>">
    <link rel="stylesheet" href="<%= allScripts.pageCssMain %>">
    <link rel="stylesheet" href="<%= allScripts.pageCss %>">
    <script src="<%= allScripts.pageScriptVendor %>"></script>
    <script src="<%= allScripts.pageScriptMain %>"></script>
    <title>
        <%= title %>
    </title>
</head>
<body>
<%- include('../../components/header/header', {scripts: allScripts.components}); %>
<div class="container">
    <h1 class="about-title"><%= pageTitle %></h1>
</div>
<%- include('../../components/sidebar/sidebar', {scripts: allScripts.components}); %>
<%- include('../../components/footer/footer', {scripts: allScripts.components}); %>
<script src="<%= allScripts.pageScript %>"></script>
</body>
</html>